.App{
  display: flex;
  position: relative;
  width: 100%;
  height: 100vmin;
  align-items: center;
}

.SignInForm{
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
}

.SignInForm input{
  width: 100%;
  padding: 8px 12px;
  margin: 15px 0 0 0 ;
  border: 1px solid #727272;
  border-radius: 2px ;
}

.SignInForm input:focus{
  outline: 1px solid royalblue;
}

.SignInForm button{
  margin: 15px 0 0 0;
  padding: 5px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #727272;
  background: transparent;
  font-weight: 500;
  transition: all .2s ease-in-out;
}

.SignInForm button:hover{
  background: royalblue;
  color: #fff;
}
